@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center ">
    <div class="row">
        <div class="col-6">
            <img src="https://laptopaz.vn/media/banner/05_May284f164ebfaa8da49883f70a482b8df8.jpg" class="img-fluid" alt="Đây là quảng cáo">
        </div>
        <div class="col-6">
            <div class="col-6" ">
                <img src="https://laptopaz.vn/media/banner/14_Oct2abfc06f2548c018b6afe6bf064f3ab2.jpg" class="img-fluid" alt="Đây là quảng cáo" style="width:600px">
            </div>
            <div class="col-6">
                <img src="https://laptopaz.vn/media/banner/13_Oct2d10cdfdfc80145ac11dc99f38a937ba.jpg" class="img-fluid" alt="Đây là quảng cáo">
            </div>
        </div>
    </div>
</div>
